/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS variables */
:root {
  --clr-prymary-100: hwb(3 16% 15%);
  --clr-prymary-400: hwb(3 16% 25%);
  --clr-secondary-400: hwb(50 0% 0%);
  --clr-secondary-600: hwb(50 0% 10%);

  --fs-header: 5rem;
  --fs-paragraph: 1.4rem;
}

/* fonts */

@font-face {
  font-family: "IBM Plex Serif";
  src: url(./assets/fonts/IBMPlexSerif-Light.ttf);
}

@font-face {
  font-family: "IBM Plex Serif Bold";
  src: url(./assets/fonts/IBMPlexSerif-Medium.ttf);
}

/* general styling */

body {
  background-color: var(--clr-prymary-400);
}

.main {
  font-family: "IBM Plex Serif";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  font-size: var(--fs-header);
  color: var(--clr-secondary-400);
  margin-top: 40px;
}

.main-text {
  color: var(--clr-secondary-400);
  font-size: var(--fs-paragraph);
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-text {
  color: var(--clr-secondary-400);
  font-size: var(--fs-paragraph);
  margin-bottom: 10px;
}
.custom-select-container {
  position: relative;
  width: 220px;
  margin-bottom: 44px;
  border-radius: 8px;
  font-family: "IBM Plex Serif Bold";
}

.custom-select-selected {
  padding: 10px;
  text-align: center;
  color: var(--clr-secondary-400);
  background-color: var(--clr-prymary-400);
  border-radius: 8px;
  border: 2px solid var(--clr-secondary-400);
  cursor: pointer;
  margin-bottom: 10px;
}

.custom-select-options {
  position: absolute;
  width: 100%;
  color: var(--clr-secondary-400);
  background-color: var(--clr-prymary-400);
  border-radius: 8px;
  border: 2px solid var(--clr-secondary-400);
  overflow: hidden;
}

.custom-select-option {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.custom-select-option:hover {
  color: var(--clr-prymary-400);
  background-color: var(--clr-secondary-400);
}

.main-start-btn {
  padding: 20px 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "IBM Plex Serif Bold";
  font-size: var(--fs-paragraph);
  background-color: var(--clr-secondary-400);
  color: var(--clr-prymary-400);
}

.main-start-btn:hover {
  color: var(--clr-prymary-100);
  box-shadow: 0px 6px 16px var(--clr-secondary-600);
}

.active-game--header {
  font-size: 3rem;
  color: var(--clr-secondary-400);
}

.active-game--text {
  font-size: 1.6rem;
  color: var(--clr-secondary-400);
}

.active-player--text {
  font-size: 1.4rem;
  color: var(--clr-secondary-400);
  margin-bottom: 40px;
}

.hexagone {
  position: relative;
  width: 100px;
  height: 56px;
  cursor: pointer;
  font-family: "IBM Plex Serif Bold";
  font-size: var(--fs-paragraph);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagone::before,
.hexagone::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagone::before {
  bottom: 100%;
}

.hexagone::after {
  top: 100%;
}

.lightgreen::before {
  border-bottom: 28.87px solid lightgreen;
}

.lightgreen::after {
  border-top: 28.87px solid lightgreen;
}

.yellow::before {
  border-bottom: 28.87px solid yellow;
}

.yellow::after {
  border-top: 28.87px solid yellow;
}

.darkgreen::before {
  border-bottom: 28.87px solid darkgreen;
}

.darkgreen::after {
  border-top: 28.87px solid darkgreen;
}

.grey::before {
  border-bottom: 28.87px solid grey;
}

.grey::after {
  border-top: 28.87px solid grey;
}

.orange::before {
  border-bottom: 28.87px solid orange;
}

.orange::after {
  border-top: 28.87px solid orange;
}

.beige::before {
  border-bottom: 28.87px solid beige;
}

.beige::after {
  border-top: 28.87px solid beige;
}

.hex-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.hex-row {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.hex-row-offset {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 28px;
  margin-bottom: 28px;
}
